
<head>
    <style>
        #navbar {
	width: 900px;
	margin-top: -34px;
	margin-left: 149px;
}

#nav {
	width: 100%;
	padding: 0px;
	height: 1em; }
#nav li {
	list-style: none;
	padding: 10px;
	 }
#nav li a {
	display: block;
	margin-top:-34px;
	padding: 0px;
 }
#nav li ul {
	display: none;
	width: 10em; /* Width to help Opera out */
}
#nav li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
#nav li:hover li {
	float: none; }
    </style>
</head>
  <body>

        <div id="navbar">
        <ul id="nav">

            <li><a href="composites.htm"><img src="images/BTN_Composites.jpg" alt="Composites"></a>
            <ul>
                <li><a href="composites.htm"><img src="images/BTN_Composites.jpg" alt="Composites"></a></li>
                <li><a href="composites.htm"><img src="images/BTN_Composites.jpg" alt="Composites"></a></li>
                </li>
            </ul>

                <li><a href="portraits.htm"><img src="images/BTN_Portraits.jpg" alt="Portraits"></a></li>

                <li><a href="conventions.htm"><img src="images/BTN_Conventions.jpg" alt="Conventions"></a></li>

                <li><a href="customers.htm"><img src="images/BTN_NewCustomers.jpg" alt="New Customers"></a></li>
        </ul>

        </div>


  </body>
