body,html   {
    height: 100%;
    margin: 0;
}

.mainFrame  {
    position: relative;
    background-image: url("https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.layer {
    background-color: #3875d7;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#footer {
    background-color: black;
    width: 100%;
    font-size: 120px;
    text-align: center;
}
#isi  {

}
.ui-accordion, .ui-accordion-content{
    padding: 0px !important;
    padding-top: 12vh;

}
#ui-id-2{
   left: 122vw;
    top: 17vw!important;
    background-color: transparent !important;
    border-width: 0px;
    align-items: center !important;
    align-content: center !important;
}

#ui-id-1{
    background-color: transparent !important;
    border-width: 0px;
}



@media (min-width: 600px)   {


    #ui-id-1{
        margin: 0px !important;
    }

    #ui-id-2{

    }


    .profileCaption {
        position: relative;
        align-items: center;
        width: 42%;
        left: 25vw;
        color: white;
        text-align: left;
        font: "Lato";
        font-size: 3.5vw;
        top: -5vh;
    ;

    }

    #changeTheme{
        margin: 0 !important;
        width:auto;
        border-radius: 0;
        border-width: 0.4vmax;
        font-weight: bold;
        background-color:transparent;
        line-height: 0vh;
        ;
    }

    .intro  {
        text-align: left;
        font-size: 3.5vw;
        border-style: solid;
        border-width: 0.7vw;
    }
    .profilePicture{
        border-radius: 2.7vw !important;
        position: relative;
        top: 0.8vw;
        height: 9vw;
        width: 9vw;
        padding: 0 !important;
        left: 0.8vw;
    }

    .pencetan{
        padding-top: 1vw;
        position: relative;
        align-items: center;
        color: white;

    }
    .pencetan2  {
        padding-top: 0.6vw;
        position: relative;
        top: -39%;
    }
    .btn {
        margin-left: auto !important;
        margin-right: auto!important;
        margin-top: 0.4vw !important;
        align-items: center !important;
        vertical-align: middle;
        position: center;
        padding-top: 1vw;
        width: 8vw;
        height: 3vw;
        background-color: rgba(125, 206, 130, 0.8);
        border-radius: 2.7vw;
        border: white;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-style: black;
        font-size: 1.3vw;
        color: white !important;
        line-height: 50%;
        border-color: white;
        border-width: 0.3vw;
        border-style: solid;
        left: 11vw !important;
    }

    .capt {
        margin-left: 1vw;
    }



}

@media (max-width: 600px) {

    #ui-id-1{
        margin: 0px !important;
        top: 5vh;
    }

    #ui-id-2{
        margin: 0px !important;
        margin-top: 10vh;
        height: 25vh;
    }

    #accordion{

    }

    #changeTheme{
        font-size: medium;
        width: auto;
        height: auto;
        border-radius: 0;
        border-width: 0.5vmax;
        background-color:transparent;
    ;
    }
    .profilePicture{
        border-radius: 12vw !important;
        position: relative;
        height: 45vw;
        width: 45vw;
        left: 27.5vw !important;
    }


    .pencetan{
        position: relative;
        top: -41%;
        left: 32vw;
    }
    .pencetan2  {
        padding-top: 3vw;
        position: relative;
        top: -30%;
        width : 50%
    }
    .btn {
        position: relative;
        padding-top: 1vw;
        width: 36vw;
        height: 12vw;
        background-color: rgba(125, 206, 130, 0.8);
        border-radius: 2.7vw;
        border: white;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-style: black;
        font-size: 7vw;
        color: white !important;
        line-height: 105%;
        border-color: white;
        border-width: 0.3vw;
        border-style: solid;
        margin-top: 1vh;
    }
    .fotoButton {
        top: 12%;
    }
    .profileCaption {
        top: 5vh;
        position: relative;
        align-items: center;
        color: white;
        text-align: center;
        font: "Lato";
        font-size: 7vw;
    ;

    }
    .intro  {
        margin-left: 18vw;
        margin-right: 18vw;
        text-align: justify;
        font-size: 7vw;
    }
    .nama   {
       border-bottom-style: solid;
    }

}




