{% load static %}

<html lang="en">
<head>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
    <style>
        body{
            font-family: 'Montserrat'
        }
        .custom-toggler.navbar-toggler {
            border-color: rgb(255,255,255);
        }
        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

        .donateButton{
            color: white;
            font-weight: bold;
            background-color: #3875d7;
        }
        .togglerNavigasi{
            background-color: white;
        }
        .iconToggle{
            color: #3875d7;
        }

        .tombol{
            color: #3875d7;
            font-weight: bold;
            background-color: white;
        }
        .navigasi{
            background-color: #3875d7;
        }

        .title{
            color: #3875d7;
            font-weight: bolder;
            outline-color: #3875d7;
        }
        .thumbnail{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
        .namaProgram{
            height: 6vmax;
        }

        @media (min-width: 500px){
            .donateButton{
                margin-top: 0vmax;
            }

            .gambar{
                width: 100%;
                object-fit: cover;
                height: 16vmax;
            }
        }

        @media (max-width: 500px){
            .title{
                text-align: center;
            }

            .donateButton{
                margin-top: 2vmax;
            }

            .gambar{
                width: 100%;
                object-fit: cover;
                height: 22max;
            }
        }
    </style>
</head>
<body>
    <nav class="navigasi navbar navbar-expand-lg">

        <h2 style="color: white">PROFIL</h2>
        <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <a class="tombol btn btn-light my-2 my-sm-0" href="/">Kembali</a>
        </div>
    </nav>

    <div class="page-header">
        <a href="{% url 'formjadwal' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="content container">
        <div class="row" style="margin-top: 12vh">
            <div class="col-md2"></div>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md2"></div>
        </div>
    </div>
</body>
</html>