{% extends 'formKegiatanStory5/formKegiatan.html' %}

{% block content %}
<h1>Bikin Jadwal</h1>
<form method="POST" action="{% url 'formjadwal' %}" class="form-group">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="save btn btn-default" style="margin-top: 3vh">Save</button>
</form>
{% endblock %}