{% extends 'formKegiatanStory5/formKegiatan.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Tempat</th>
            <th>Kategori</th>
            <th>Tanggal</th>
            <th>Waktu</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{i.nama}}</td>
            <td>{{i.tempat}}</td>
            <td>{{i.kategori}}</td>
            <td>{{i.tanggal}}</td>
            <td>{{i.waktu}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-light" href="/formKegiatan" style="margin-top: 3vh">Tambah Agenda</a>
<a class="btn btn-light" href="/hasilFormDelete" style="margin-top: 3vh;margin-left: 0.5vw">Hapus Agenda</a>


{% endblock %}