.layer {
    background-color: #3875d7;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container  {
    position: absolute;
    background-image: url("https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

@media (min-width: 780px)   {
    .form-group {
        position: relative;
        width: 90%;
        color: white;
        top: 2vh;
        padding-left: 2vw;
    }
    .btn    {
        top: 40px;
    }


    .isi {
        border-radius: 1vw;
        left: 1vw;
        top: 2vh;
        position: relative;
        background-color: black;
        opacity: 0.8;
        width: 50vw;
        height: 40vw;
    }
}

@media (max-width: 780px)   {
    .headline{
        font-size: 270%;
        font-family: "Bebas Neue";
        position: relative;
        color: white;
        text-align: center;
    }
    .form-group {
        position: relative;
        width: 90%;
        color: white;
        top: 2vh;
        margin-left: 5%;
    }
    .btn    {
        margin-top: 0.2vh;
        width: 33%;
        margin-left: 33%;
    }


    .isi {
        border-radius: 1vw;
        top: 3vh;
        position: relative;
        background-color: black;
        opacity: 0.8;
        width: 100%;
        padding-bottom: 3vh ;
    }
}


