.container  {
    position: absolute;
    background-image: url("https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.form-group {

    width: 50%;
    color: white;
    padding-left: 80px;
    position: relative;
    top: 40px;
}
.btn    {
    top: 40px;
}
.layer {
    background-color: #3875d7;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


