body,html{
    height: 100%;
    margin: 0;
}
.mainFrame  {
    position: relative;
    background-image: url("https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg" );
    background-position: center;
    background-size: cover;
    height: 20%;
    width: 100%;
}
.layer {
    background-color: #3875d7;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px)   {
    .profilePicture{
        width: 12vw;
        height: 12vw;
        border-radius: 20px;
        position: absolute;
        top: 20%;
    }
    .judulHalaman{
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-size: 12vmin;
        position: relative;
        top: 0vh;
        color: white;
        align-items: center;
        text-align: center;
    }
    .btn{
        line-height: 2vw;
        width: 12vw;
        height: 4vw;
        background-color: rgba(125, 206, 130, 0.8);
        border-radius: 20px;
        border: white;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-style: black;
        font-size: 2vw;
        color: white;
        border-color: white;
        border-width: thick;
        border-style: solid;
    }
    .pencetan{
        position: absolute;
        top: 6vh;
        left: 80vw;
    }
}
@media (max-width: 600px) {
    .profilePicture{
        width: 20vh;
        height: 20vh;
        border-radius: 20px;
        position: absolute;
        top: 5vh;
        align-items: center;
        left: 23%;
    }
    .judulHalaman{
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-size: 4vh;
        position: relative;
        top: 39vh;
        color: black;
        align-items: center;
        text-align: center;
    }
    .btn{

        line-height: 2vw;
        width: 12vw;
        height: 4vw;
        background-color: rgba(125, 206, 130, 0.8);
        border-radius: 20px;
        border: white;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-style: black;
        font-size: 2vw;
        color: white;
        border-color: white;
        border-width: 10%;
        border-style: solid;
    }
    .pencetan{
        position: absolute;
        top: 6vh;
        left: 80vw;
    }
}
