body,html   {
    height: 100%;
    margin: 0;
}

.mainFrame  {
    position: relative;
    background-image: url("https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.layer {
    background-color: #3875d7;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px)   {

    .profileCaption {
        position: relative;
        align-items: center;
        width: 42%;
        left: 25vw;
        color: white;
        text-align: left;
        font: "Lato";
        font-size: 3.5vw;
        top: -12vh;
    ;

    }
    .intro  {
        text-align: left;
        font-size: 3.5vw;
        border-style: solid;
        border-width: 0.7vw;
    }
    .profilePicture{
        border-radius: 2.7vw;
        position: relative;
        height: 9vw;
        width: 9vw;
        padding: 0.5vw;
    }

    .pencetan{
        padding-top: 1vw;
        position: relative;
        top: -41%;
        padding-left: 0.8vw;

    }
    .pencetan2  {
        padding-top: 1vw;
        position: relative;
        top: -39%;
        padding-left: 0.8vw;
    }
    .btn {
        vertical-align: middle;
        position: center;
        padding-top: 1vw;
        width: 8vw;
        height: 3vw;
        background-color: rgba(125, 206, 130, 0.8);
        border-radius: 2.7vw;
        border: white;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-style: black;
        font-size: 1.3vw;
        color: white;
        line-height: 50%;
        border-color: white;
        border-width: 0.3vw;
        border-style: solid;

    }

    .capt {
        margin-left: 1vw;
    }

}

@media (max-width: 600px) {
    .profilePicture{
        border-radius: 12vw;
        position: relative;
        height: 45vw;
        width: 45vw;
        left: 14vw;
        top: 5vw;

    }

    .pencetan{
        padding-top: 16vw;
        position: relative;
        top: -41%;
        left: 32vw;
        width : 50%

    }
    .pencetan2  {
        padding-top: 3vw;
        position: relative;
        top: -30%;
        left: 32vw;
        width : 50%
    }
    .btn {
        position: relative;
        padding-top: 1vw;
        width: 36vw;
        height: 12vw;
        background-color: rgba(125, 206, 130, 0.8);
        border-radius: 2.7vw;
        border: white;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        font-style: black;
        font-size: 7vw;
        color: white;
        line-height: 105%;
        border-color: white;
        border-width: 0.3vw;
        border-style: solid;

    }
    .fotoButton {
        top: 12%;
    }
    .profileCaption {
        padding-top: 6vh;
        position: relative;
        align-items: center;
        color: white;
        text-align: center;
        font: "Lato";
        font-size: 7vw;
        top: 2vh;
    ;

    }
    .intro  {
        margin-left: 18vw;
        margin-right: 18vw;
        text-align: justify;
        font-size: 7vw;
    }
    .nama   {
       border-bottom-style: solid;
    }

}




