body,html   {
    height: 100%;
    margin: 0;
}
.mainFrame  {
    position: relative;
    background-image: url("https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.profileCaption {
    position: relative;
    top: 30%;
    align-items: center;
    width: 42%;
    left: 30%;
    color: white;
    font-weight: bold;
    text-align: left;
    font: "Lato";
    font-size: 40px;
;

}
.intro  {

    text-align: left;
    font-size: 40px;
    border-style: solid;
    border-width: 8px;
}
.profilePicture{
    border-radius: 20px;
    position: relative;
}
.layer {
    background-color: #3875d7;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pencetan{
    position: absolute;
    top: 23%;
}
.pencetan2  {
    position: relative;
    top: -10%;
}
.btn {
    width: 95px;
    height: 45px;
    background-color: rgba(125, 206, 130, 0.8);
    border-radius: 20px;
    border: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: black;
    font-size: 20px;
    color: white;
    line-height: 23px;
    border-color: white;
    border-width: thick;
    border-style: solid;

}


