{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lab3/FormLab3.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="FormLab3.css">-->

    <style>

    </style>
</head>
<body>
<nav class="navigasi navbar navbar-expand-lg">

    <h2 style="color: white">PROFIL</h2>
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a class="tombol btn btn-light my-2 my-sm-0" href="/">Kembali</a>
    </div>
</nav>
<div class="container">
    <div class="layer"></div>
    <!--<div style="position: relative">{% include "lab3/partials/navbar.html" %}</div>-->


        <div class="formulir">

            <div class="isi cotainer">
                <h2 class="headline form-group">Formulir Buku Tamu</h2>
                <div class="form-group ">
                    <label for="nama">Nama:</label>
                    <input type="text" class="form-control" id="nama" placeholder="Masukan nama" name="nama">
                </div>

                <div class="form-group">
                    <label for="tanggal">Tanggal:</label>
                    <input type="date" class="form-control" id="tanggal" placeholder="Masukan tanggal" name="tanggal">
                </div>


                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Masukan email" name="email">
                </div>

                <div class="form-group">
                    <label for="subjek">Subjek:</label>
                    <input type="text" class="form-control" id="subjek" placeholder="Masukan subjek" name="subjek">
                </div>

                <div class="form-group">
                    <label for="Message">Pesan:</label>
                    <textarea name="message" class="form-control" id="Message" placeholder="Masukan Pesan"></textarea>
                </div>

                <div class="form-group">
                    <a type="submit" class="btn btn-default" href="/">Submit</a>
                </div>

            </div>



        </div>


    </form>
</div>

</body>
</html>
