{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'lab3/halamanBuku.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="halamanBuku.css">-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Halaman Profil</title>
    <script>
        var theme = 0;
    </script>
    <script>
        $( function() {
            $( "#accordion" ).accordion({
                active :false,
                collapsible: true,
                heightStyle : "content",
            });
        } );

        $("#changeTheme").click(function(){
            console.log(theme);
            if(theme%2 === 0){
                $(".navigasi").css("background-color", "black !important");
                $(".navigasi").css("background-color", "black !important");
                theme +=1;
            }
            else {
                $(".navigasi").css("background-image", "url('https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg')");
                $(".layer").css("opacity", "0.3");
                $(".layer").css("background-color","#3875d7");
                $(".nama").css("color","white");
                $(".profileCaption").css("color","white");
                // $(".layer").css("position","absolute");

                theme +=1;
            }
        })

    </script>

</head>
<body>


<!--<div>{% include "lab3/partials/navbar.html" %}</div>-->

<nav class="navigasi navbar navbar-expand-lg">

    <h2 style="color: white">PROFIL</h2>
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a class="tombol btn btn-light my-2 my-sm-0" href="/">Kembali</a>
    </div>
</nav>

<div class="container mt-5">
    <div id="accordion">
        <h3>Daftar Kegiatan</h3>
        <div>
            <p>
            <ul>
                <li>Asistensi Matdis</li>
                <li>Story PPW</li>
                <li>TP SDA</li>
                <li>Remed</li>
            </ul>
            </p>
        </div>
        <h3>Pengalaman Organisasi</h3>
        <div>
            <p>
            <ul>
                <li>Sospol Fuki</li>
                <li>Startup Academy Compfest X</li>
                <li>Humpub OH</li>
                <li>Humas Siwak</li>
            </ul>

            </p>
        </div>
        <h3>Prestasi</h3>
        <div>
            <p>
            <ul>
                <li>Berharap Juara 1 OSK Fisika</li>
                <li>Semifinalis Lomba di ITS</li>
            </ul>

            </p>

        </div>
        </div>
    </div>
</div>

</body>
</html>