{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'lab3/index_lab2.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="{% static 'lab3/style.js' %}"></script>
        <!--<link rel="stylesheet" type="text/css" href="index_lab2.css">-->
        <title>Faishal Ammar</title>

        <script>
            var dropdownMenu = 0;
            var theme = 0;

        </script>

        <script>
        </script>
    </head>

    <body>


        <div class="mainFrame">
            <div class="layer"></div>

            <div class="fotoButton">

                <div class="block">
                    <div id="accordion">
                        <img src="https://s15.postimg.cc/csj0ae1qz/Webp.net-resizeimage.jpg" class="profilePicture" >
                        <div class="row">
                            <div>
                                <div class="pencetan">
                                    <a class="btn btn-default" href="/profil">Profil</a>
                                </div>

                                <div class="pencetan">
                                    <a class="btn btn-default" href="/hasilForm" >Jadwal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



            <div class="profileCaption">
                <span class="nama">Faishal Ammar</span>

                <div class="intro pl-2">
                    <p class="capt">Tertarik pada dunia start up, desain, pemrograman dan fotografi </p>
                </div>
                <a class="btnTheme btn btn-default" id="changeTheme">Ganti Tema</a>

            </div>


        </div>



         </body>
</html>